@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Project</h1>
    <p class="lead">
        This a library program that lets users browse, check out, and review books.<br />
        Employees can add/edit and order books, add authors and publishers.<br />
        Default employee:
    <p class="indent">username: rhettallen</p>
    <p class="indent">password: password</p>
</div>